:root {
	/* Colors */
	--clr-white: hsl(0, 0%, 100%);
	--clr-accent: hsl(71, 73%, 54%);
	--clr-primary-300: hsl(179, 47%, 52%);
	--clr-primary-400: hsl(179, 62%, 43%);
	--clr-neutral-200: hsl(204, 43%, 93%);
	--clr-neutral-400: hsl(218, 22%, 67%);

	/* Font size */
	--fs-base: 16px;
}

body {
	padding: 72px 32px;
	font-family: "Karla";
	letter-spacing: -0.2px;
	font-size: var(--fs-base);
	background-color: var(--clr-neutral-200);
}

.main {
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 0 15px 30px hsla(0, 0%, 0%, .1);
}

.card {
	padding: 24px;
	background-color: var(--clr-white);
}

.card .title {
	font-size: 20px;
	font-weight: 700;
	color: var(--clr-primary-400);
}

.card .subtitle {
	font-size: 15px;
	line-height: 1.3;
	font-weight: 700;
	margin-block: 20px;
	color: var(--clr-accent);
}

.card .description {
	line-height: 1.8;
	font-size: 14px;
	margin-bottom: 8px;
	color: var(--clr-neutral-400);
}

.section {
	color: var(--clr-white);
}

.section .title {
	font-size: 18px;
	letter-spacing: .2px;
}

.subscription {
	padding: 24px;
	background-color: var(--clr-primary-400);
}

.subscription .price {
	font-size: 32px;
	font-weight: 700;
	margin-right: 12px;
	color: var(--clr-white);
}

.subscription .pricetag {
	font-size: 16px;
	margin-top: 8px;
	align-items: center;
	display: inline-flex;
	color: hsla(179, 47%, 100%, .6);
}


.button {
	width: 100%;
	border: none;
	cursor: pointer;
	margin-top: 26px;
	border-radius: 4px;
	padding-block: 12px;
	color: var(--clr-white);
	background-color: var(--clr-accent);
	box-shadow: 0 10px 10px hsla(0, 0%, 0%, .1);
}

.whyus {
	padding: 24px;
	background-color: var(--clr-primary-300);
}

.list {
	padding: 0;
	font-size: 14px;
	font-weight: 200;
	margin-top: 14px;
	list-style: none;
	line-height: 1.4;
	letter-spacing: .2px;
	color: var(--clr-white);
}

@media screen and (min-width: 768px) {
	body {
		display: flex;
		min-height: 100dvh;
	}

	.main {
		margin: auto;
		max-width: 635px;
	}

	.card,
	.subscription,
	.whyus {
		width: 100%;
		padding: 36px 40px;
	}

	.card .title {
		font-size: 24px;
	}

	.card .subtitle {
		font-size: 18px;
		line-height: 1.4;
		margin-block: 16px 10px;
	}

	.card .description {
		font-size: 16px;
		line-height: 1.6;
	}

	.section {
		display: flex;
	}
}
